@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@200&family=Roboto:wght@700&display=swap');

*{
  margin: 0%;
}

header{
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
/*rodape*/
footer{
  background-color: black;
  color: white;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
footer > p {
  background-color: white;
  color: black;
  font-weight: bold;
  max-width: 300px;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  
}

p a{
  text-decoration: none;
  color: black;
}

footer> p a img{
  height: 15px;
  width: 15px;
}
/**/
article{
  margin-bottom: 10px;
}
/*Playstation*/
#Playstation > div{
  background-image: url('../imagens-gamer/playstation-controller.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-width: 320px;
  height: 400px;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;

  
}

#Playstation > div >  h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 160px;
  margin: auto;
  padding: 8px;
  opacity: 80%;
  background-color: #0554F2;
}

/*Xbox*/
#Xbox > div{
  background-image: url('../imagens-gamer/xbox-controller.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  margin-bottom: 40px;
  width: auto;
  
}
#Xbox > div > h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: green;
  width: 160px;
  margin: auto;
  padding: 8px;
  opacity: 80%;
}


/*PC*/

#PC > div{
  background-image: url('../imagens-gamer/Pc-gamer2.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  margin-bottom: 40px;
  width: auto;  
}
#PC > div > h2{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: white;
  width: 160px;
  margin: auto;
  padding: 8px;
  opacity: 80%;
}


/*Nintendo*/

#Nintendo > div{
  background-image: url('../imagens-gamer/nintento-3ds.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  margin-bottom: 40px;
  width: auto;
  
}
#Nintendo > div > h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: red;
  width: 160px;
  margin: auto;
  padding: 8px;
  opacity: 80%;
}
/*------------------------------------*/
a{
  text-decoration: none;
  color: white;
}
.blc{
  color: black;
}
