@charset "utf8";

*{
    margin: 0;
    border: 0;
    background-color: white;    
}
img{
    width: 100%;   
}
a{
    display: block;
    background-color: red;
    color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
   

}